body {
    overflow: hidden;
}
.item {
    width: 64px;
    height: 64px;
    display: flex;
    margin: 0.25rem;
    border-radius: 0.9rem;
    align-items: center;
    justify-content: center;
}
.item:active {
    opacity: 0.75;
}
.mail-bg {
    background: linear-gradient(#1D6FF2, #1BC8FC);
}
.dc-bg {
    background: #5662F6;
}
.twt-bg {
    background: #1DA1F2;
}

.gh-bg {
    background: #24292E;
}